tesis.aux
tesis.bbl
tesis.aux
tesis.log
tesis.out
tesis.toc
tesis.dvi
tesis.fls
tesis.fdb_latexmk
tesis.synctex.gz
tesis.run.xml
tesis.blg
tesis.idx
tesis.ilg
tesis.ind
tesis.glo
tesis.glg
tesis.gls
tesis.glsdefs
tesis.acn
tesis.alg
tesis.acn.bbl
tesis.acn.fls
tesis.acn.fdb_latexmk
tesis.lof
tesis.lot